.DS_Store
graficas.log
.Rhistory
model/basura
BModel
BModel_threads
BModel_ARMA_kappa_threads
BModel_ARMA.stan
fit_model_hosp_multistate_experiment.R
model/Hospitalizaciones_estatalMX.rds
model/ModelBetafit.RData
cmdstan/
Rplots.pdf
Rplot.pdf
model_fit1.rds
fit_model_hosp_multistate_with_special_dates.R
fit_model_hosp_multistate_with_special_dates.R
Hosp_predict_v3.pdf
*.exe
.idea/
*threads
.Rproj.user
